/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Common Styles */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* Top Players Style */
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;

}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
}
.player{
    display: flex;
    align-items: center;
    gap: 10px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}